<!DOCTYPE html>
<html lang="uk" data-theme="retro">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Шановні: Головна сторінка</title>
  <link href="dist/style.css" rel="stylesheet">
  <style>
    /* Шрифт Geist */
    body {
      font-family: 'Geist', sans-serif;
    }
  </style>
</head>
<body>

<!-- Medium Card -->
<div class="card w-96 bg-base-100 card-md shadow-sm shrink">
  <div class="card-body">
    <!-- Card Body -->
    <h2 class="card-title">Олександр Погребняк</h2>
    <!-- Avatar -->
    <div class="avatar">
        <div class="w-24 rounded">
        <img src="https://img.daisyui.com/images/profile/demo/batperson@192.webp" />
        </div>
    </div>
    <div class="badge badge-soft badge-secondary">Партія «Світло та Добро»</div>
    <!-- Tags -->
    <div class="badge badge-soft badge-primary">72 ініціативи</div>
    <div class="badge badge-soft badge-primary">Секретар</div>
    <div class="badge badge-soft badge-primary">4 комітети</div>
    <div class="badge badge-dash badge-primary">
        <svg class="size-[1em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm.75-10.25v2.5h2.5a.75.75 0 0 1 0 1.5h-2.5v2.5a.75.75 0 0 1-1.5 0v-2.5h-2.5a.75.75 0 0 1 0-1.5h2.5v-2.5a.75.75 0 0 1 1.5 0Z" clip-rule="evenodd" />
        </svg> Додати бейдж
    </div>
    <!-- Bio -->
    <p>Олександр Погребняк, яскравий представник Партії «Світло та Добро», присвятив своє життя служінню суспільству. Народившись у невеликому містечку на Полтавщині, він з дитинства виявив неабиякі лідерські якості та прагнення до справедливості. Здобувши юридичну освіту, Олександр успішно працював у сфері захисту прав людини, де здобув репутацію принципового та безкомпромісного борця за інтереси простих громадян. Його активна громадська діяльність та щира турбота про добробут людей стали рушійною силою для вступу в політику, де він прагне втілити ідеї оновлення та процвітання для всієї України.</p>
    <div class="justify-end card-actions">
    <!-- Button -->
      <button class="btn btn-primary">Створити запит</button>
    </div>
  </div>
</div>  

</body>
</html>