<!DOCTYPE html>
<html lang="uk" data-theme="lofi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Шановні: Головна сторінка</title>
  <link href="dist/style.css" rel="stylesheet">
  <style>
    /* Шрифт Geist */
    body {
      font-family: 'Geist', sans-serif;
      background-color: oklch(97% 0 0);
    }
  </style>
</head>
<body>

<!--NavBar-->
<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /> </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a>Дашборд</a></li>
        <li><a>Представники</a></li>
        <li><a>Документи</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <a class="btn btn-ghost text-xl">Шановні</a>
  </div>
  <div class="navbar-end">
    <button class="btn btn-ghost btn-circle">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /> </svg>
    </button>
  </div>
</div>

<!-- Flex Container -->
<div class="flex flex-wrap justify-center gap-4 p-4">
  <!-- Card 1 -->
  <div class="card flex-grow flex-shrink-0 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 bg-base-100 shadow-sm">
    <div class="card-body">
      <h2 class="card-title">Олександр Погребняк</h2>
      <div class="avatar">
        <div class="w-24 rounded">
          <img src="https://img.daisyui.com/images/profile/demo/batperson@192.webp" />
        </div>
      </div>
      <div class="badge badge-soft badge-secondary">Партія «Світло та Добро»</div>
      <div class="badge badge-soft badge-primary">72 ініціативи</div>
      <div class="badge badge-soft badge-primary">Секретар</div>
      <div class="badge badge-soft badge-primary">4 комітети</div>
      <div class="badge badge-dash badge-primary">
        <svg class="size-[1em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm.75-10.25v2.5h2.5a.75.75 0 0 1 0 1.5h-2.5v2.5a.75.75 0 0 1-1.5 0v-2.5h-2.5a.75.75 0 0 1 0-1.5h2.5v-2.5a.75.75 0 0 1 1.5 0Z" clip-rule="evenodd" />
        </svg> Додати бейдж
      </div>
      <p>Олександр Погребняк, яскравий представник Партії «Світло та Добро», присвятив своє життя служінню суспільству...</p>
      <div class="justify-end card-actions">
        <button class="btn btn-neutral">Створити запит</button>
      </div>
    </div>
  </div>  
  <!-- Card 2 -->
  <div class="card flex-grow flex-shrink-0 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 bg-base-100 shadow-sm">
    <div class="card-body">
      <h2 class="card-title">Олександр Погребняк</h2>
      <div class="avatar">
        <div class="w-24 rounded">
          <img src="https://img.daisyui.com/images/profile/demo/batperson@192.webp" />
        </div>
      </div>
      <div class="badge badge-soft badge-secondary">Партія «Світло та Добро»</div>
      <div class="badge badge-soft badge-primary">72 ініціативи</div>
      <div class="badge badge-soft badge-primary">Секретар</div>
      <div class="badge badge-soft badge-primary">4 комітети</div>
      <div class="badge badge-dash badge-primary">
        <svg class="size-[1em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm.75-10.25v2.5h2.5a.75.75 0 0 1 0 1.5h-2.5v2.5a.75.75 0 0 1-1.5 0v-2.5h-2.5a.75.75 0 0 1 0-1.5h2.5v-2.5a.75.75 0 0 1 1.5 0Z" clip-rule="evenodd" />
        </svg> Додати бейдж
      </div>
      <p>Олександр Погребняк, яскравий представник Партії «Світло та Добро», присвятив своє життя служінню суспільству...</p>
      <div class="justify-end card-actions">
        <button class="btn btn-neutral">Створити запит</button>
      </div>
    </div>
  </div>
    <!-- Card 3 -->
  <div class="card flex-grow flex-shrink-0 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 bg-base-100 shadow-sm">
    <div class="card-body">
      <h2 class="card-title">Олександр Погребняк</h2>
      <div class="avatar">
        <div class="w-24 rounded">
          <img src="https://img.daisyui.com/images/profile/demo/batperson@192.webp" />
        </div>
      </div>
      <div class="badge badge-soft badge-secondary">Партія «Світло та Добро»</div>
      <div class="badge badge-soft badge-primary">72 ініціативи</div>
      <div class="badge badge-soft badge-primary">Секретар</div>
      <div class="badge badge-soft badge-primary">4 комітети</div>
      <div class="badge badge-dash badge-primary">
        <svg class="size-[1em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm.75-10.25v2.5h2.5a.75.75 0 0 1 0 1.5h-2.5v2.5a.75.75 0 0 1-1.5 0v-2.5h-2.5a.75.75 0 0 1 0-1.5h2.5v-2.5a.75.75 0 0 1 1.5 0Z" clip-rule="evenodd" />
        </svg> Додати бейдж
      </div>
      <p>Олександр Погребняк, яскравий представник Партії «Світло та Добро», присвятив своє життя служінню суспільству...</p>
      <div class="justify-end card-actions">
        <button class="btn btn-neutral">Створити запит</button>
      </div>
    </div>
  </div>  
  <!-- Card 4 -->
  <div class="card flex-grow flex-shrink-0 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 bg-base-100 shadow-sm">
    <div class="card-body">
      <h2 class="card-title">Олександр Погребняк</h2>
      <div class="avatar">
        <div class="w-24 rounded">
          <img src="https://img.daisyui.com/images/profile/demo/batperson@192.webp" />
        </div>
      </div>
      <div class="badge badge-soft badge-secondary">Партія «Світло та Добро»</div>
      <div class="badge badge-soft badge-primary">72 ініціативи</div>
      <div class="badge badge-soft badge-primary">Секретар</div>
      <div class="badge badge-soft badge-primary">4 комітети</div>
      <div class="badge badge-dash badge-primary">
        <svg class="size-[1em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm.75-10.25v2.5h2.5a.75.75 0 0 1 0 1.5h-2.5v2.5a.75.75 0 0 1-1.5 0v-2.5h-2.5a.75.75 0 0 1 0-1.5h2.5v-2.5a.75.75 0 0 1 1.5 0Z" clip-rule="evenodd" />
        </svg> Додати бейдж
      </div>
      <p>Олександр Погребняк, яскравий представник Партії «Світло та Добро», присвятив своє життя служінню суспільству...</p>
      <div class="justify-end card-actions">
        <button class="btn btn-neutral">Створити запит</button>
      </div>
    </div>
  </div>
  <!-- Card 5 -->
  <div class="card flex-grow flex-shrink-0 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 bg-base-100 shadow-sm">
    <div class="card-body">
      <h2 class="card-title">Олександр Погребняк</h2>
      <div class="avatar">
        <div class="w-24 rounded">
          <img src="https://img.daisyui.com/images/profile/demo/batperson@192.webp" />
        </div>
      </div>
      <div class="badge badge-soft badge-secondary">Партія «Світло та Добро»</div>
      <div class="badge badge-soft badge-primary">72 ініціативи</div>
      <div class="badge badge-soft badge-primary">Секретар</div>
      <div class="badge badge-soft badge-primary">4 комітети</div>
      <div class="badge badge-dash badge-primary">
        <svg class="size-[1em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm.75-10.25v2.5h2.5a.75.75 0 0 1 0 1.5h-2.5v2.5a.75.75 0 0 1-1.5 0v-2.5h-2.5a.75.75 0 0 1 0-1.5h2.5v-2.5a.75.75 0 0 1 1.5 0Z" clip-rule="evenodd" />
        </svg> Додати бейдж
      </div>
      <p>Олександр Погребняк, яскравий представник Партії «Світло та Добро», присвятив своє життя служінню суспільству...</p>
      <div class="justify-end card-actions">
        <button class="btn btn-neutral">Створити запит</button>
      </div>
    </div>
  </div>
  <!-- Card 6 -->
  <div class="card flex-grow flex-shrink-0 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 bg-base-100 shadow-sm">
    <div class="card-body">
      <h2 class="card-title">Олександр Погребняк</h2>
      <div class="avatar">
        <div class="w-24 rounded">
          <img src="https://img.daisyui.com/images/profile/demo/batperson@192.webp" />
        </div>
      </div>
      <div class="badge badge-soft badge-secondary">Партія «Світло та Добро»</div>
      <div class="badge badge-soft badge-primary">72 ініціативи</div>
      <div class="badge badge-soft badge-primary">Секретар</div>
      <div class="badge badge-soft badge-primary">4 комітети</div>
      <div class="badge badge-dash badge-primary">
        <svg class="size-[1em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm.75-10.25v2.5h2.5a.75.75 0 0 1 0 1.5h-2.5v2.5a.75.75 0 0 1-1.5 0v-2.5h-2.5a.75.75 0 0 1 0-1.5h2.5v-2.5a.75.75 0 0 1 1.5 0Z" clip-rule="evenodd" />
        </svg> Додати бейдж
      </div>
      <p>Олександр Погребняк, яскравий представник Партії «Світло та Добро», присвятив своє життя служінню суспільству...</p>
      <div class="justify-end card-actions">
        <button class="btn btn-neutral">Створити запит</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
